.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
*.log

# Java & Build Output
*.class
target/
.gradle/
build/
dist/
out/
*.jar
*.war
*.ear

# IDE & Editor files
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
*.swp
*.swo
*.sublime-workspace

# Scratch
scratch/
