# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor & IDEs
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace

# Build & Compiled
target/
build/
dist/
out/
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Scratch
scratch/
